<%- include('../partials/header') %>
  <h1 class="listTitle">
    <%=collection.name%>
  </h1>
  <form action="/collection/<%=collection._id%>?_method=DELETE" method="post">
    <button type="submit">Delete list</button>
  </form>
  <section class="gamesList">
    <% collection.games.forEach(game=> {%>
      <section class="listItem">
        <a class="item" href="/games/<%=game.gameID%>">
          <img src="<%=game.imageURL%>">
          <div class="gameInfo">
            <h1>
              <%=game.name%>
            </h1>
            <p>
              <%= game.genres.join(", ") %>
      </p>
          </div>
    </a>
    </section>
    <%})%>
  </section>
      <%- include('../partials/footer') %>