<%- include('../partials/header') %>
  <section class="contentWidth">
    <h1 class="listTitle">Owned Games</h1>
    <section class="gamesList">
      <% ownedList.games.forEach(gameObj=> {%>
        <section class="listItem">
          <a class="item" href="/ownedlist/<%=gameObj.game.gameID%>">
            <img src="<%=gameObj.game.imageURL%>">
            <div class="gameInfo">
              <h1>
                <%=gameObj.game.name%>
              </h1>
              <p>
                <%= gameObj.game.genres.join(', ') %>
            </p>
            <p>Status:
              <%= gameObj.status %>
            </p>
          </div>
        </a>
        <form class="removeGame" action="/ownedlist/remove/<%=gameObj.game.gameID%>?_method=PUT" method="POST">
          <button class="removeButton" type="submit"><img class="removeImg" src="../images/minus.png"
              alt="Remove from list"></button>
        </form>
      </section>
      <%})%>
  </section>
</section>
  <%- include("../partials/footer") %>