<%- include('../partials/header') %>
  <section class="show contentWidth">
    <section class="basicInfoShow">
      <img src="<%=gameObj.game.imageURL%>" alt="<%=gameObj.game.name%>">
      <h2 class="heading">
        <%=gameObj.game.name%>
      </h2>
      <p>
        <%=gameObj.game.released%>
      </p>
      <p>
        <%=gameObj.game.genres.join(', ')%></p>
      <p>Average playtime: <%=gameObj.game.playtime%> hours</p>
    <div class="ratings">
          <p>Metacritic rating: <%=gameObj.game.metacritic%>
          </p>
          <p>User rating: <%=gameObj.game.userRating%>
          </p>
      </div>
    </section>
    <section class="playerInfo">
      <h3 class="heading">Player info</h3>
      <% if (gameObj.game.gameModes.includes(' Multiplayer')) {%>
          <p>Username:
            <%=gameObj.playerUsername ? gameObj.playerUsername : '' %>
          </p>
          <%}%>
            <p>Playing on:
              <%=gameObj.platform ? gameObj.platform : '' %>
            </p>
            <p>Rating:
              <%=gameObj.userRating ? gameObj.userRating : '' %>
            </p>
            <p>Status:
              <%=gameObj.status ? gameObj.status : '' %>
            </p>
            <form class="inputForm" action="/ownedlist/<%=gameObj.game.gameID%>/edit" method="GET">
              <button class="formButton" type="submit">Update</button>
            </form>
    </section>
    <section class="gameInfoShow">
      <h3 class="heading">About</h3>
      <p>
        <%=gameObj.game.description%>
      </p>
      <div class="gameProperty gameInfoShow">
        <h3 class="heading">Platforms:</h3>
        <p>
          <%=gameObj.game.platforms.sort().join(', ')%></p>
    </div>
    <div class="gameProperty gameInfoShow">
            <h3 class="heading">Game modes:</h3>
            <p>
              <%=gameObj.game.gameModes.join(", ")%></p>
    </div>
    <div class="gameProperty gameInfoShow">
                <h3 class="heading">Developers:</h3>
                <p>
                  <%=gameObj.game.developers.join(", ")%></p>
    </div>
  </section>
  </section>
    <%- include("../partials/footer") %>