<%- include('../partials/header') %>
  <h1 class="listTitle">Wish List</h1>
  <section class="gamesList">
    <% wishList.games.forEach(game=> {%>
      <section class="listItem">
        <a class="item" href="/games/<%=game.gameID%>">
          <img src="<%=game.imageURL%>">
          <div class="gameInfo">
            <h1>
              <%=game.name%>
            </h1>
            <p>
              <%= game.genres.join(", ") %>
      </p>
          </div>
    </a>
    </section>
    <%})%>
  </section>
      <%- include('../partials/footer') %>