<%- include('./partials/header') %>

  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <a href="/auth/google">LOG IN</a>
  <%if (user) {%>
    <p>Successful login</p>
    <%}%>
      <ul>
        <%games.forEach(game=> {%>
          <li>
            <%= game.name%>
          </li>
          <%})%>
      </ul>
      <%- include('./partials/footer') %>