<%- include('../partials/header') %>

  <form action="/games/search" method="GET">
    <input type="text" name="search">
    <button type="submit">Search</button>
  </form>




  <%games.forEach(game=> {%>
    <a href="/games/<%=game.id%>">
      <section>
        <p>
          <%= game.name %>
        </p>
        <p>
          <%= game.background_image %>
        </p>
        <p>
          <%= game.released %>
        </p>
        <p>
          <%- game.genres.map(genre=>
            `${genre.name}`
            ).join(', ') %>
        </p>
      </section>
    </a>
    <%})%>
      <%- include('../partials/footer') %>