<%- include('../partials/header') %>
  <section class="show">
    <section class="basicInfoShow">
      <img src="<%=game.background_image%>" alt="<%=game.name%>" width="150" height="100">
      <h2 class="heading">
        <%=game.name%>
      </h2>
      <p>
        <%=new Date(game.released).toLocaleString().split(',')[0]%>
      </p>
      <p>
        <%- game.genres.map(genre=>
          `${genre.name}`
          ).join(', ') %>
      </p>
      <p>Average playtime:
        <%=game.playtime%>
          hours
      </p>
      <div class="ratings">
        <p>Metacritic: <%=game.metacritic%>
        </p>
        <p>Player rating: <%=game.rating%>
        </p>
      </div>
    </section>
    <section class="collectionOptions">
      <% if (user) {%>
        <form action="" method="POST" name="addToList" onsubmit="assignRoute()">
          <select name="list" id="list">
            <% if (!ownedGames.includes(game.id)) {%>
              <option value="/ownedlist/add/<%=game.id%>?_method=PUT">Owned games</option>
              <%}%>
                <% if (!wishListGames.includes(game.id) && !ownedGames.includes(game.id)) {%>
                  <option value="/wishlist/add/<%=game.id%>?_method=PUT">Wish list</option>
                  <%}%>
                    <%if (collections) {%>
                      <% collections.forEach(collection=> {%>
                        <% if (!collection.games.map(gameObj=> gameObj.gameID).includes(game.id)) {%>
                          <option value="/collection/add/<%=collection._id%>/<%=game.id%>?_method=PUT">
                            <%=collection.name%>
                          </option>
                          <%}%>
                            <%})%>
                              <%}%>
          </select>
          <button type="submit">Add to list</button>
        </form>
        <%}%>
    </section>
    <section class="gameInfoShow">
      <h3 class="heading">About</h3>
      <p>
        <%=game.description_raw%>
      </p>
      <div class="gameProperty">
        <h3 class="heading">Platforms:</h3>
        <p>
          <%- game.platforms.map(platform=>
            `${platform.platform.name}`
            ).sort().join(', ') %>
        </p>
      </div>
      <div class="gameProperty">
        <h3 class="heading">Developers:</h3>
        <p><%- game.developers.map(developer=>
            `${developer.name}`
            ).join(', ') %></p>
      </div>
    </section>
    <div class="gameProperty gameInfoShow">
      <h3 class="heading">Game modes:</h3>
      <p>
        <%=game.tags.filter(tag=> ['Multiplayer', 'Singleplayer'].includes(tag.name)).map(tag => tag.name).join(', ')%>
      </p>
    </div>
  </section>
  <%- include('../partials/footer') %>